<div class="ng-approved">
    <div class="cato-badge" style="float:none; display:inline-block; margin:0 0 10px;">CATO Approved</div>
    <p>This component has been tested by CATO and approved for use.</p>
</div>
<div class="accordion-pad">
    <h2 class="ds2 heading-sub-section">Developer notes</h2>
    <div>
        <%= devn %>
    </div>
    <div>
        <%= history %>
    </div>
    
    <h2>HTML</h2>
    <label for="codebox2" class="block text-right"><a href="##undefined" class="selectalllink">Select all &amp; copy</a></label>
    <div class="codebox-wrapper">
        <textarea class="codebox" data-get-code-from="code-angular-example-1" readonly="" id="codebox2" style="overflow-y: hidden; height: 4290px;">
            <%= html %>
        </textarea>
    </div>

    <h2>AngularJS</h2>
    <label for="codebox3" class="block text-right"><a href="##undefined" class="selectalllink">Select all &amp; copy</a></label>
    <div class="codebox-wrapper">
        <textarea class="codebox" data-get-code-from="code-angular-example-js-1" readonly="" id="codebox3" style="overflow-y: hidden; height: 1110px;">
            <%= js %>
        </textarea>
    </div>
</div>